.rank-container{
    margin: auto;
    width: 100%;
}

.rank-container img{
    object-fit: scale-down;
    width: 100%;
}

/* .rank-number{
    font-size: 125%;

    color: silver;
    text-shadow: 0 0 10px black, 0 0 10px black;

    background-color: rgba(0, 0, 0, 0.72);

    width: 30%;
    aspect-ratio: 1/1;

    border-radius: 50%;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
} */