.badge-box-container{
    margin-top: 1em;
    width: 100%;
}

.badge-box-container .badge-box-scroll-container{
    border-top: 3px solid var(--blue-div-border-color);
    border-bottom: 3px solid var(--blue-div-border-color);
    background-color: var(--background-blue-div-color);

    padding: 2em 0;
    overflow-x: auto;
}

.badge-box-container .badge-box-scroll-container .box-scroll{
    gap: 2em;
    margin: auto;
    padding: 0 1em;
    width: fit-content;
    justify-content: center;
    display: flex;
}

.badge-box-container .badge-box-scroll-container .box-scroll .box-scroll-badge{
    width: 10rem;
    min-height: 10rem;
}

.badge-box-container .badge-box-legend{
    margin: auto;
    margin-top: 1em;
    border-radius: 50px;

    display: flex;

    flex-direction: row-reverse;

    justify-content: space-evenly;

    border-radius: 50px;
    border: 2px solid var(--blue-div-border-color);
    background-color: var(--background-blue-div-color);

    width: min(80%, 40rem);
}

.badge-box-container .badge-box-legend .legend-item{

    width: 25%;
    font-size: 1.6rem;

    padding: 0.5em 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.25em;
}

.badge-box-container .badge-box-legend .legend-item .level-square{
    border: 1px solid var(--league-gold-color);
    border-radius: 5px;

    width: max(25%, 2rem);
    aspect-ratio: 1/1;
}

.legend-item .level-name{
    font-size: 65%;
    color: var(--league-white-color);
    text-shadow: 0 0 1px black, 0 0 1px black;
}

.badge-box-description{
    font-size: 1.6rem;
    padding: 1em 1.5em;
    color: rgb(177, 176, 176);
    text-shadow: 0 0 1px black, 0 0 1px black;

    background-color: #020e1e2e;
}

.badge-box-container .excellent{
    color: var(--excellent-color);
}

.badge-box-container .great{
    color: var(--great-color);
}

.badge-box-container .good{
    color: var(--good-color);
}

/* .badge-box-scroll-container{
    overflow: hidden;

    border: 5px solid #020e1e69;
    border-radius: 50px;
    background-color: #020e1e25;
}

.box-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
}

.box-scroll-item{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    aspect-ratio: 1/1;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px #bf860078;
    transition-duration: 0.5s;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #bf8600; 
}

.badge-box-legend{
    width: 75%;
    height: 20%;

    margin: auto;
    margin-top: 2%;

    border-radius: 50px;

    border: 2px solid #020e1e69;
    background-color: #020e1e25;

    display: flex;

    flex-direction: row-reverse;

    overflow: hidden;
}

.legend-item{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    flex-direction: column;
}

.legend-item .level-square{
    border: 1px solid #bf8600;
    border-radius: 5px;

    width: 25%;
    aspect-ratio: 1/1;

    display: block;
}

.legend-item .level-name{
    font-size: 65%;
    color: #bf8600;
    text-shadow: 0 0 3px black, 0 0 3px black;
}

.badge-box-description{
    position: relative;
    top: 20%;
    transform: translate(0, -20%);
    
    margin: auto;

    width: 90%;
    height: 15%;

    border: 2px solid #020e1e69;
    border-radius: 15px;
    background-color: #020e1e25;

    font-size: 14px;
    color: #a39e93;
    text-shadow: 0 0 2px black, 0 0 2px black;

    text-align: center;

    overflow: hidden;
}
  
.badge-box-description b{
    color: #bf8600;
} */