.championChart{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10%;
}

.championLegend{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 80%;
    top: 80%;
}

.championIcon{
    border-radius: 50%;
    width: 20%;
}

.chartContainer{
    position: relative;
}

.chartToolTip{
    --tooltip-color: rgba(0, 255, 255, 0.214);
    --tooltip-hover-color: rgba(0, 255, 255, 0.658);

    position: absolute;
    left: 10%;
    top: 10%;

    width: 2.75rem;
    aspect-ratio: 1/1;

    border: 2px solid var(--tooltip-color);  
    border-radius: 50%;

    transition: 0.1s border-color ease-out

}

.chartToolTip .chartTool-icon{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    color: var(--tooltip-color);

    font-size: 1.6rem;

    transition: 0.1s font-size ease-in-out,
    0.1s color ease-out;

    pointer-events: none;
}

.chartToolTip:hover{
    border-color: var(--tooltip-hover-color);
}

.chartToolTip::after{
    content: attr(data-tooltip);

    visibility: hidden;
    opacity: 0%;

    position: absolute;
    left: 0;
    top: 100%;

    white-space: wrap;
    width: 25rem;

    padding: 1rem 2rem;
    background-color: #031328;

    border: 2px solid rgba(0, 0, 0, 0.666);
    border-radius: 10px;

    font-size: 1rem;
    color: rgba(255, 255, 255, 0.677);

    transition-duration: 0.5s;
}

.chartToolTip:hover::after{
    visibility: visible;
    opacity: 100%;
    top: 150%;
}

.chartToolTip:hover .chartTool-icon{
    font-size: 1.75rem;
    color: var(--tooltip-hover-color);
}