.overview-container{
    padding-top: 1em;
    border-top: 2px solid var(--blue-div-border-color);
    font-size: 2rem;
    color: var(--league-white-color);
    text-shadow: 0 0 2px black, 0 0 2px black;

    width: 100%;
}

.win-loss{
    margin: auto;
    margin-top: 1em;

    padding: 0.25em 0;

    width: 80%;
    max-width: 35ch;

    border: 2px solid var(--blue-div-border-color);
    background-color: var(--background-blue-div-color);
    border-radius: 25px;
}

.win-loss div{
    width: 50%;
    display: inline-block;
}

.win-text{
    color: rgb(0, 128, 0);
}

.lose-text{
    color: rgba(255, 0, 0, 0.539);
}

.win-loss-number{
    color: white;
}

.recent-games{
    margin-top: 2em;
    display: flex;
    flex-direction: column;

    gap: 1em;
}

/* .recent-games-container{
    margin: auto;
    height: 55%;
    width: 85%;

    overflow: hidden;
    
    border: 2px solid #020e1e69;
    background-color: #020e1e25;
    border-radius: 25px;

    margin-top: 5%;
}

.recent-games{
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.recent-game:first-of-type{
    margin-top: 2.5%;
}

.recent-game:last-of-type{
    margin-bottom: 2.5%;
} */