.player-name{
    font-size: 2.5rem;

    color: var(--league-gold-color);
    text-shadow: 0 0 3px black, 0 0 3px black;

    margin-top: 1em;

    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.player-container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 2em;
}

.player-rank-piece{
    width: 8rem;

    margin: auto;
    margin-top: 1em;
}

/* .badgeBar{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.5%;
    border-radius: 40px;
}

.no-summoner{
    font-size: 150%;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bf8600;
}

.activeGameButton{
    position: absolute;
    top: 30%;
    transform: translate(-50%);

    font-size: 60%;
    padding: 5px;
    border-radius: 10px;
    background-color: #00000023;
    color: #bf8600;
    transition-duration: 0.5s;
    border-color: #bf8600;
    font-weight: bold;
}

.activeGameButton:hover{
    background-color: #bf8600;
    color: black;
    cursor: pointer;
}

.player-container{
    width: 95%;
    height: 80%;
    margin: auto;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.player-piece{
    border: 1px solid #c0c0c047;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    height: 90%;
    width: 90%;
    overflow: hidden;
}

.player-rank-piece{
    width: 10%;
    
    position: absolute;

    left: 50%;
    top: 6%;
    transform: translate(-50%);

    z-index: -1;
} */