.text{
    font-size: 150%;
    color: #bf8600;
}

.button{
    font-size: 60%;
    margin-top: 3%;
    padding: 5px;
    border-radius: 10px;
    background-color: #00000023;
    color: #bf8600;
    transition-duration: 0.5s;
    border-color: #bf8600;
    font-weight: bold;
}

.center{
    display: inline-block;
    margin-top: 15%;
}