.badge-box-container{
    width: 80%;
    height: 60%;
    margin: auto;
    
    box-sizing: border-box;

    position: relative;
    top: 15%;
    transform: translate(0, -15%);
}

.badge-box-scroll-container{
    margin: auto;
    width: 95%;
    height: 80%;
    overflow: hidden;

    border: 5px solid #020e1e69;
    border-radius: 50px;
    background-color: #020e1e25;
}

.box-scroll{
    width: auto;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto
}

.box-scroll-item{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    aspect-ratio: 1/1;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px #bf860078;
    transition-duration: 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bf8600; 
}

.badge-box-legend{
    width: 75%;
    height: 20%;

    margin: auto;
    margin-top: 2%;

    border-radius: 50px;

    border: 2px solid #020e1e69;
    background-color: #020e1e25;

    display: flex;

    overflow: hidden;
}

.legend-item{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    flex-direction: column;
}

.legend-item .level-square{
    border: 1px solid #bf8600;
    border-radius: 5px;

    width: 25%;
    aspect-ratio: 1/1;

    display: block;
}

.legend-item .level-name{
    font-size: 65%;
    color: #bf8600;
    text-shadow: 0 0 3px black, 0 0 3px black;
}

.badge-box-description{
    position: relative;
    top: 20%;
    transform: translate(0, -20%);
    
    margin: auto;

    width: 90%;
    height: 15%;

    border: 2px solid #020e1e69;
    border-radius: 15px;
    background-color: #020e1e25;

    font-size: 14px;
    color: #a39e93;
    text-shadow: 0 0 2px black, 0 0 2px black;

    text-align: center;

    overflow: hidden;
}
  
.badge-box-description b{
    color: #bf8600;
}