.badgeBarBadge{
    width: 4%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
    background-color: #25426e5a;
    border: 2px solid #bf8600;
    margin-left: 1%;
    margin-right: 1%;
}

.badgeBarBadge img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.emptyBadges{
    width: 4%;
    aspect-ratio: 1 / 1;
}
