.championChart{
    width: 25%;
    margin: auto;
}

.championLegend{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 25%;
    top: 80%;
}

.championIcon{
    border-radius: 50%;
    width: 20%;
}

.chartContainer{
    position: relative;
}