h1{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    color: #bf8600;
    text-shadow: 0 0 3px black, 0 0 3px black;
}

.help-container{
    display: flex;
    height: 100%;
    padding-top: 5%;
}

.help-item{
    border: 5px solid #020e1e69;
    background-color: #020e1e25;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30%;
    flex-direction: column;
    margin: auto;
}

.help-item p{
    text-shadow: 0 0 3px black, 0 0 3px black;
    width: 90%;
    color: #bf8600;
    font-size: 25px;
}

.help-img{
    width: 80%;
    height: 50%;
    border: 3px solid #020e1e69;
    border-radius: 50px;
}