.lobby{
    padding-top: 1%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 90%;
}

.flexbox-container{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbox-item{
    width: 15%;
    border: 3px solid #bf8600;
    border-radius: 15px;
    height: 90%;
    background-color: #1a19197c;
}

.blue-team{
    background-color: #020e1e7c;
}

.red-team{
    background-color: #210d0d7c;
}

.versusTag{
    color: #bf8600;
    text-shadow: 0 0 4px black, 0 0 4px black;
}