.form-container{
    width: 30%;
    height: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container form{
    width: 80%;
}

.form-background{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 65%;
    aspect-ratio: 1/.60;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #bf8600;
    overflow: hidden;
}

.form-background img{
    position: absolute;
    object-fit: scale-down;
    width: 115%;
    height: 115%;
    transform: translate(-44%, -5%);
}

.form-container::before{
    content: '';
    position: absolute;
    width: 80%;
    max-width: 600px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #071b30ca;
}

form label{
    position: relative;
    top: -20%;
    display: block;
    font-size: 140%;
    color: #bf8600;
}

form .textInput{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    font-size: 80%;
}

form .textInput::placeholder{
    color: rgba(128, 128, 128, 0.472);
}

form .button{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    width: 30%;
    aspect-ratio: 1/0.3;
    font-size: 50%;
    border-radius: 15px;
    background-color: #071b30e1;
    color: #bf8600;
    transition-duration: 0.5s;
    border-color: #bf8600;
}

form .button:hover{
    background-color: #bf8600;
    color: #071b30;
    cursor: pointer;
}

.noSummoner{
    margin-top: 10%;
    color: rgba(255, 255, 255, 0.439);
}

.loadingGif{
    position: absolute;
    top: 125%;
    width: 10%;
    height: 25%;
} 