.badge-container{
    width: 100%;
    height: 100%;

    border: 1px #bf8600;
    border-style: solid;
    border-radius: 10px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: none;

}

.badge-unearned{
    filter: grayscale(100%);
    opacity: 25%;
}

.badge-container .img-container{
    object-fit: scale-down;
    width: 70%;
    aspect-ratio: 1/1;
}

.badge-container .badge-name{
    font-size: 35%;
    object-fit: scale-down;
    color: #bf8600;
    white-space: nowrap;
    text-shadow: 0 0 2px black, 0 0 2px black;
}

.Good{
    background-color: rgba(64, 73, 70, 0.512);
}

.Great{
    background-color: rgb(2, 106, 106);
}

.Excellent{
    background-color: rgb(60, 7, 68);
}
