.navicon-link{
    position: absolute;
    left: 6rem;
    top: 3rem;
    color: #134f8f;

    transition-duration: 0.3s;

    font-size: 3rem;
    text-decoration: none !important;
}

.navicon-link:hover{
    border-color: var(--league-gold-color);
    color: var(--league-gold-color);
    cursor: pointer;
}

.navicon-link::before{
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 5rem;
    aspect-ratio: 1/1;

    border-radius: 50%;
    border: 1px solid #134f8f;

    transition-duration: inherit;
}

.navicon-link:hover::before{
    border-color: var(--league-gold-color);
}

.navicon-link::after{
    content: attr(data-tooltip);
    display: block;
    font-size: 2.5rem;
    color: var(--league-gold-color);

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;
    opacity: 0;

    pointer-events: none;

    transition-duration: inherit;
}

.navicon-link:hover::after{
    visibility: visible;
    opacity: 100%;
}