.App {
  text-align: center;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
  font-size: calc(10px + 2vmin);
}

.pinging-server{
  font-size: 150%;
  color: #bf8600;
  text-shadow: 0 0 2px black, 0 0 2px black;
  font-family: 'Kanit', sans-serif;
}

.ping-container{
  margin: auto;

  width: 50%;
  height: 20%;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ping-gif{
  margin-top: 5%;
  width: 7%;
}

.server-down{
  margin: auto;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);

  font-size: 250%;

  text-align: center;

  color: #bf8600;
  text-shadow: 0 0 2px black, 0 0 2px black;
  font-family: 'Kanit', sans-serif;
}

.server-down .offline-text{
  color: rgb(114, 1, 1);
  text-shadow: 0 0 2px black, 0 0 2px black;
  font-family: 'Kanit', sans-serif;

  display: inline-block;
}