html{
  --league-gold-color: #bf8600;
  --league-blue-color: #071b30;
  
  font-family: 'Kanit', sans-serif;
  font-size: 62.5%;
}

.App {
  text-align: center;
  height: 100vh;
}

.ping-container{
  font-size: 4rem;
  margin: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ping-container .pinging-server{
  color: var(--league-gold-color);
  text-shadow: 0 0 2px black, 0 0 2px black;
}

.ping-container .ping-gif{
  margin-top: 2rem;
  width: 5rem;
}

.server-down{
  margin: auto;

  width: 50%;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);

  font-size: 4rem;

  text-align: center;

  color: var(--league-gold-color);
  text-shadow: 0 0 2px black, 0 0 2px black;
}

.server-down .offline-text{
  color: rgb(114, 1, 1);
  text-shadow: 0 0 2px black, 0 0 2px black;
}